.content {
    padding: 30px 50px;
}

.content h2 {
    color: #17abb3;
    font-size: 1.4em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

.content h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e3e3e3;
}

.content__profile p {
    text-align: justify;
    text-indent: 2em;
    margin: 0;
}

.content h3 {
    font-size: 1em;
}

.content time {
   color: #17abb3;
}

.content article {
    display: flex;
    justify-content: space-between;
}

.content div p {
    margin-top: -15px;
    font-size: 0.8em;
    font-style: italic;
}